.inicio {
  color: ivory;
}

.formulario-registro {
  margin: 10px;
}

.titulo-registrate {
  color: white;
  text-align: center;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
  background-color: darkgrey;

  label {
    display: block;
    margin-bottom: 10px;
  }

  input[type="text"],
  input[type="date"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;

    &:focus {
      outline: none;
      border-color: #5E8AE6;
      box-shadow: 0px 0px 5px #5E8AE6;
    }
  }

  input[type="radio"] {
    display: inline-block;
    margin-right: 10px;
  }

  button[type="submit"] {
    @extend .button;
    background-color: $violetColor;
    color: #fff;
  }

  .button {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: none;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #45a049;
    }
  }

  button[type="reset"] {
    @extend .button;
    background-color: $violetColor;
    color: #fff;
  }

}