@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

$color-footer: #2F0743;
$color-elementos-footer: ivory;
$darkColor: #222222;
$violetColor: #8a2be2;
$lightColor: #f4f4f4;
$primary-color: #484749;
$secondary-color: #373c41;
$animation-duration: 1s;

.header {
  background-image: url('./images/landscape.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100% !important;
  height: 400px;
  margin-bottom: 70px;
}

a {
  text-decoration: none;
  color: white;
}

nav.navbar {
  background-color: $darkColor !important;
  color: $lightColor;


  .navbar-brand {
    color: $lightColor;
  }

  .navbar-toggler-icon {
    background-color: $lightColor;
  }

  .navbar-nav {
    .nav-link {
      color: $lightColor;

      &:hover {
        color: $violetColor;
      }
    }
  }
}

header nav .navbar-nav {
  justify-content: flex-end;
  margin-left: auto;
}

header nav .navbar-nav .nav-item a {
  text-align: right;
}

h1 {
  color: white;
  -webkit-text-stroke: 1px black
}

h3 {
  color: white;
  -webkit-text-stroke: 1px black
}


/* --- Main --- */

body {
  background-color: $darkColor;
}

.section1 {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 25%);
  grid-template-rows: auto;
  background-color: rgba($violetColor, 0.1);
  border-radius: 10px;
  margin-bottom: 30px;
  justify-content: center;
  gap: 60px;
  padding: 30px;
  margin: 0 auto;
}

.articuloo {
  border-radius: 2%;
  width: 100%;
  transition: width 0.5s, background-color 0.1s;
  /* Agregamos transición para suavizar el efecto */

  &:hover {
    width: 110%;
    /* Ancho al 100% cuando se coloca el mouse sobre la sección */
    background-color: rgba($violetColor, 0.6);
  }
}

.title {
  color: $lightColor;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid $lightColor;

  &:hover {
    color: $darkColor;
  }
}

img {
  width: 100%;
  display: block;
  border-radius: 2%;
  height: auto;
}

.cajaArticulo01 {
  list-style: none;
  text-align: center;
  height: 150px;
}

.description-proyect {
  color: $lightColor;
  padding: 10px;
}

.titulo-premios {
  text-align: center;
  font-size: 1.2rem;
  color: $lightColor;
  margin-top: 4rem;
  font-size: 40px;
  margin-bottom: 40px;

  &:hover {
    color: $violetColor;
  }

  font-family: 'Nunito Sans',
  sans-serif;
}

.div-medalla {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: $lightColor;
  margin-bottom: 20px;
}

.fa-medal {
  color: $lightColor;

  &:hover {
    color: $violetColor;
  }

  animation: bounce $animation-duration infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-10px);
  }
}

.title-medal-description {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 10px;
  padding:10px
}

.medal-description {
  color: $lightColor;
  font-size: 1rem;
  margin-bottom: 90px;
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
  text-align: justify;
}

h5 {
  color: white
}

.iconos {
  font-size: 2rem;
}

footer {
  background-color: $violetColor;

  &:hover {
    color: $darkColor;
  }

  border: black;
  border-color: black;
  color: $lightColor;
  margin-top: 70px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

i {
  display: inline-block;
  font-size: 1.5rem;
  color: $lightColor;

  &:hover {
    color: $darkColor;
  }

  margin-right: 0.5rem;
  margin:20px;
  font-size: 50px;
}


/* EMPIEZA CODIGO PARA EL HTML DE CREA TU PROYECTO*/

.titulo-crea-proy {
  color: white;
  text-align: center;
}

.formulario-crear-proy {
  margin: 10px;
}



.boton-formulario-creatuproyecto {
  background-color: $violetColor;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #45a049;
  }

  border-radius: 3px
}

.textarea {
  border-radius: 4px;
  max-width: 100%;
}

/* TERMINA CODIGO PARA EL HTML DE CREA TU PROYECTO*/


/* EMPIEZA CODIGO PARA EL HTML DE INGRESA*/

.formulario-iniciar-sesion {
  margin: 40px;
  
}

.titulo-iniciar-sesion {
  color: white;
  text-align: center;
}

.contraseña {
  border-radius: 4px;
  border: none;
  margin-bottom: 20px;
  max-width: 80%;
}

.iniciar-sesion {
  background-color: $violetColor;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #45a049;
  }

  border-radius: 3px;
  color:$lightColor
}

@media (max-width: 500px) {
  .formulario-iniciar-sesion {
    margin-top: 70px;
  }
}

/* TERMINA CODIGO PARA EL HTML DE INGRESA*/

@import "_parques-nacionales";

@import "_registrate";

@media (max-width: 900px) {

  .header {
    width: 100%
  }

  .section1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    width: 50%;
  }

  .description-proyect {
    padding: 5px;
  }

  .medal-description {
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    padding: 10px;
  }
}

@media (max-width: 500px) {


  i {
    font-size: 1.4rem;
  }
}

@media (max-width: 500px) {

.div-medalla{
  display: flex;
  flex-direction: column;
}

.titulo-premios{
  font-size: 30px;
}

}