
a {
  text-decoration: none;
  color:inherit
}

body{
  background-color:lightgrey
}

.log-in {
  display: flex;
  flex-direction: row;
  justify-content: right;
  color:white
}

.video {
  width: 100%;
  z-index: -1;
  position: absolute;
}

header {
  position: relative;
  height: 50vh;
  overflow: hidden;
}

.frase-header {
  margin: 15px;
  text-align: center;
  color:white
}

.palabras-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none; /* esto es para sacarle el bullet point*/
  align-items: flex-start;
  padding: 15px;
}

.palabras-header a {
  background-color: purple;
  color:white
}

.fila-1 {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: right;
  margin:20px
}

.input-barra {
  border-radius: 8px;
  height: 30px;
}


.section1 {
  width:100%;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: auto;
  background-color: #080808;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0 5px 10px rgba(64, 32, 32, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24)
}

article {
  margin-bottom: 10px;
  display: flex;  
  flex-direction: column;
  align-items: center;
  margin: 5px;
  background-color: rgba(255, 239, 87, 0.1);
  border-radius: 5px;
}

img{
  padding:20px
}


article h4{
  text-decoration: none;
  text-align: center;
  color:white
}
b{
  color:white
}

.cajaArticulo01{
  list-style: none;
}

.description-proyect {
  word-wrap: break-word;
}

.titulo-premios{
  margin: 50px
}

.premios{
  margin-bottom: 30px
}

.iconos {
  font-size:2rem;
}

footer {
  background-color: lightblue;
  border: black;
  border-width: 100px;
  border-color: black;
}

@media (max-width: 865px) {
  
  .palabras-header {
    display:flex;
    flex-direction: column;
  }

  .section1{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  }

  article{
    max-width: 80%;
  }

  .description-proyect {
    word-wrap: normal;
  }

}